/*______________________________________________________________*/
/****************** MIXINS */
/*______________________________________________________________*/
/****************** GLOBAL */
/*______________________________________________________________*/
/****************** SECTIONS */
.blue-section {
  background: #00b140;
  color: #fff; }
  .blue-section h1, .blue-section h2, .blue-section h3, .blue-section h4 {
    color: #fff; }

.white-section {
  padding: 50px 0;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  border-bottom: 1px solid #ebebeb; }
  .white-section .btn-lg {
    margin-top: 20px; }

.dark-section {
  background: #20222e;
  color: #fff; }
  .dark-section .section-header .section-title,
  .dark-section h1, .dark-section h2, .dark-section h3, .dark-section h4 {
    color: #fff; }

#news, #ihs, #narzedzia, #kontakt, #produkty {
  padding: 100px 0 75px; }

#software, #features {
  padding: 0px 0 30px; }

/*______________________________________________________________*/
/****************** SLIDER */
#slider {
  width: 100%;
  background: url(../images/slider/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  height: 500px;
  position: relative; }
  #slider .slider-text {
    position: absolute;
    top: 35%;
    font-size: 73px;
    font-weight: 200;
    color: white; }
  #slider p {
    position: absolute;
    top: 55%;
    font-size: 18px;
    font-weight: 200;
    color: white;
    padding: 15px 0; }
  #slider .jumbotron {
    margin: 0;
    padding: 0; }

/*______________________________________________________________*/
/****************** TABS */
.custom-tabs .tab-content {
  border: none; }
.custom-tabs .nav-tabs > li > a {
  margin-top: 0;
  border: none;
  position: relative;
  font-weight: 600;
  color: #444;
  font-size: 24px;
  padding: 15px 25px; }
  .custom-tabs .nav-tabs > li > a:hover {
    border: none;
    background: none;
    color: #272727; }
.custom-tabs .nav-tabs > li.active {
  border-bottom: 3px solid #00b140; }
  .custom-tabs .nav-tabs > li.active > a {
    margin-top: 0;
    border: none;
    position: relative;
    font-weight: 600;
    color: #444;
    font-size: 24px; }
    .custom-tabs .nav-tabs > li.active > a:hover, .custom-tabs .nav-tabs > li.active > a:focus {
      border: none;
      background: none;
      color: #272727; }

/*______________________________________________________________*/
/****************** PROCES*/
#proces {
  padding: 100px 0 50px;
  background: #20222e url(../images/work-process/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #fff; }
  #proces h2 {
    color: #fff; }
  #proces h3 {
    color: #fff;
    margin-bottom: 10px; }
  #proces .icon-circle {
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border: 2px solid #00b140;
    border-radius: 100px;
    position: relative; }
    #proces .icon-circle > span {
      border-style: solid;
      border-width: 2px;
      border-color: #00b140;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      width: 24px;
      height: 24px;
      line-height: 20px;
      top: -12px; }
  #proces .well-wrapper {
    margin-top: 30px; }
  #proces .well {
    background-color: transparent;
    border: none;
    min-height: 20px;
    padding: 10px 20px; }
    #proces .well h3 {
      color: #00b140; }

/*______________________________________________________________*/
/****************** LUDZIE */
#ludzie {
  padding: 100px 0 20px; }
  #ludzie .team-member {
    padding: 15px; }
    #ludzie .team-member .team-img {
      margin: -15px -15px 0 -15px; }
    #ludzie .team-member .team-info {
      padding-bottom: 10px;
      border-bottom: 1px solid #dbdbdb;
      margin-bottom: 10px; }
      #ludzie .team-member .team-info span {
        font-style: italic;
        margin-top: -5px;
        color: #999;
        display: block; }
    #ludzie .team-member:hover {
      border-color: #00b140; }
      #ludzie .team-member:hover .social-icons > li > a {
        background: #00b140; }
  #ludzie .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; }
    #ludzie .social-icons > li {
      display: inline-block; }
      #ludzie .social-icons > li > a {
        display: block;
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        color: #fff;
        background: #222534;
        border-radius: 3px; }

/*______________________________________________________________*/
/****************** KARIERA */
#kariera {
  padding: 100px 0 75px; }
  #kariera .row {
    margin-bottom: 40px; }
  #kariera h4 .fa {
    margin-right: 10px; }
  #kariera .photo-wrapper {
    margin-top: -15px; }

.gift-wrapper {
  position: relative;
  height: 320px; }
  .gift-wrapper .gift-image {
    position: absolute;
    top: 35%;
    left: 40%;
    font-size: 100px; }

@media (max-width: 770px) {
  .gift-wrapper {
    height: 200px; }
    .gift-wrapper .gift-image {
      position: absolute;
      top: 35%;
      left: 40%;
      font-size: 100px; } }
/*______________________________________________________________*/
/****************** OWL CAROUSEL */
.customNavigation {
  text-align: center; }
  .customNavigation .btn {
    position: absolute;
    top: 50%;
    background-color: #00b140;
    color: #fff;
    font-size: 35px;
    display: inline-block;
    margin-top: -35px;
    height: 70px;
    width: 70px;
    line-height: 57px;
    text-align: center;
    border-radius: 100px;
    z-index: 5;
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .customNavigation .prev {
    left: -35px;
    text-indent: 14px; }
  .customNavigation .next {
    right: -30px;
    text-indent: -14px; }

/*______________________________________________________________*/
/****************** WYDARZENIA */
#wydarzenia {
  padding: 100px 0 30px;
  overflow: hidden;
  position: relative; }
  #wydarzenia .carousel-indicators {
    bottom: -50px; }
  #wydarzenia .item {
    padding: 30px 0px;
    margin: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: left; }

/*______________________________________________________________*/
/****************** CIEKAWOSTKI */
#ciekawostki {
  padding: 100px 0 30px;
  overflow: hidden;
  position: relative; }
  #ciekawostki .carousel-indicators {
    bottom: -50px; }
  #ciekawostki .item {
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: left; }

@media (max-width: 1200px) {
  #ciekawostki .row .item {
    height: 400px; }
    #ciekawostki .row .item img {
      min-height: 450px; } }
@media (max-width: 970px) {
  #ciekawostki .row .item {
    height: 350px; }
    #ciekawostki .row .item img {
      min-height: 350px; } }
/*______________________________________________________________*/
/****************** NARZEDZIA */
#narzedzia {
  background: url(../images/tools/tools.jpg) no-repeat right 100px; }

@media (max-width: 1000px) {
  #narzedzia {
    background: none; } }
/*______________________________________________________________*/
/****************** KONTAKT */
#kontakt {
  padding: 100px 0 50px;
  background: #00b140;
  color: #fff; }
  #kontakt h1, #kontakt h2 {
    color: #fff; }

/*______________________________________________________________*/
/****************** MAPA */
#mapa {
  position: relative;
  overflow: hidden; }
  #mapa .contact-form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-top: 120px;
    font-size: 16px;
    position: absolute;
    top: -80px;
    left: 0;
    z-index: 1; }
    #mapa .contact-form p {
      margin: 20px; }
  #mapa strong {
    color: #272727; }

/*______________________________________________________________*/
/****************** FOOTER */
#footer {
  background: #20222e; }

/*______________________________________________________________*/
/****************** RESPONSIVE */
@media (max-width: 770px) {
  #news, #ihs, #narzedzia, #kontakt, #produkty {
    padding: 40px 0 30px; } }
