/*-----------------------------------------------------------------------------
----------------------------- GLOBAL ------------------------------------*/
.blue-section {
  background: #00a9cb;
  color: #fff; }
  .blue-section h1, .blue-section h2, .blue-section h3, .blue-section h4 {
    color: #fff; }

.white-section {
  padding: 50px 0;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  border-bottom: 1px solid #ebebeb; }

#news, #ihs, #narzedzia, #kontakt, #produkty {
  padding: 100px 0 75px; }

/*-----------------------------------------------------------------------------
------------------------------ SLIDER ---------------------------------------*/
#slider {
  width: 100%;
  background: url(../images/slider/pizza.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -338px;
  height: 500px;
  position: relative; }
  #slider .slider-mask {
    background: #20222e;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: .3; }

/*-----------------------------------------------------------------------------
----------------------------- CIEKAWOSTKI ------------------------------------*/
#ciekawostki {
  background: #20222e;
  padding: 100px 0 70px;
  color: #fff;
  position: relative; }
  #ciekawostki h1, #ciekawostki h2, #ciekawostki h3, #ciekawostki h4 {
    color: #fff; }
  #ciekawostki strong {
    display: block;
    margin-bottom: 30px; }
  #ciekawostki .row .ciekawostki-item {
    padding: 0;
    height: 500px;
    overflow: hidden;
    position: relative;
    border-bottom: 3px solid transparent;
    -webkit-transition: border-color 1s;
    transition: border-color 1s; }
    #ciekawostki .row .ciekawostki-item:hover {
      border-color: #00a9cb; }
    #ciekawostki .row .ciekawostki-item img {
      min-height: 500px;
      width: 100%; }
  #ciekawostki .row .ciekawostki-caption {
    position: absolute;
    left: 0;
    bottom: -420px;
    padding: 0 10%;
    background: rgba(32, 34, 46, 0.8);
    height: 100%;
    -webkit-transition: all 2s;
    transition: all 2s; }
    #ciekawostki .row .ciekawostki-caption h2 {
      margin-bottom: 15px;
      text-align: center;
      font-weight: 400;
      font-size: 22px; }
    #ciekawostki .row .ciekawostki-caption p {
      line-height: 18px;
      font-size: 16px;
      font-weight: 200;
      visibility: hidden; }
  #ciekawostki .row .ciekawostki-item:hover .ciekawostki-caption {
    bottom: 0px;
    background: rgba(32, 34, 46, 0.9); }
    #ciekawostki .row .ciekawostki-item:hover .ciekawostki-caption p {
      visibility: visible; }
  #ciekawostki .carousel-control.left, #ciekawostki .carousel-control.right {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 30px;
    display: inline-block;
    margin-top: -35px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 100px;
    z-index: 5;
    -webkit-transition: background-color 400ms;
    transition: background-color 400ms; }
  #ciekawostki .carousel-control.left:hover, #ciekawostki .carousel-control.right:hover {
    background-color: #00a9cb; }
  #ciekawostki .carousel-control.left {
    left: -35px;
    text-indent: 14px; }
  #ciekawostki .carousel-control.right {
    right: -35px;
    text-indent: -14px; }
  #ciekawostki .carousel-indicators {
    bottom: -50px; }

@media (max-width: 1200px) {
  #ciekawostki .row .ciekawostki-item {
    height: 400px; }
    #ciekawostki .row .ciekawostki-item img {
      min-height: 450px; }
  #ciekawostki .row .ciekawostki-caption {
    bottom: -330px; }
    #ciekawostki .row .ciekawostki-caption h2 {
      font-size: 20px; }
  #ciekawostki .row .ciekawostki-item:hover .ciekawostki-caption {
    background: rgba(0, 0, 0, 0.85); } }
@media (max-width: 970px) {
  #ciekawostki .row .ciekawostki-item {
    height: 350px; }
    #ciekawostki .row .ciekawostki-item img {
      min-height: 350px; }
  #ciekawostki .row .ciekawostki-caption {
    bottom: -280px; } }
/*-----------------------------------------------------------------------------
----------------------------- KARIERA ---------------------------------------*/
#kariera {
  padding: 100px 0 75px; }
  #kariera .row {
    margin-bottom: 40px; }
  #kariera h4 .fa {
    margin-right: 10px; }
  #kariera .photo-wrapper {
    margin-top: -15px; }

.gift-wrapper {
  position: relative;
  height: 320px; }
  .gift-wrapper .gift-image {
    position: absolute;
    top: 35%;
    left: 40%;
    font-size: 100px; }

@media (max-width: 770px) {
  .gift-wrapper {
    height: 200px; }
    .gift-wrapper .gift-image {
      position: absolute;
      top: 35%;
      left: 40%;
      font-size: 100px; } }

/*# sourceMappingURL=custom-ihs.css.map */
