
$blue_color: #00a9cb;
$orange_color: #f7941d;
$green_color: #96bc33;
$red_color: #f04e23;
$dark_color: #20222e;


/*-----------------------------------------------------------------------------
----------------------------- GLOBAL ------------------------------------*/

.blue-section {
	background: $blue_color;
    color: #fff;
      h1, h2, h3, h4 {
    color: #fff;
  }
}

.white-section {
    padding: 50px 0;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    border-bottom: 1px solid #ebebeb;
	.btn-lg {
		    margin-top: 20px;
	}
}

//Services
#news, #ihs, #narzedzia, #kontakt, #produkty {
  padding: 100px 0 75px;
}

.btn {
	border-radius:0;
}

/*-----------------------------------------------------------------------------
------------------------------ SLIDER ---------------------------------------*/

#slider {
    width: 100%;
    background: url(../images/slider/pizza.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    height: 500px;
    position:relative;

	.slider-text {
		position: absolute;
		top: 50%;
		font-size: 73px;
		font-weight: 200;
		color: white;

	}
    .jumbotron {
        margin: 0;
        padding: 0;
    }
}


/*-----------------------------------------------------------------------------
----------------------------- CIEKAWOSTKI ------------------------------------*/

#ciekawostki {
  background: $dark_color;
  padding: 100px 0 30px;
  color: #fff;
  overflow:hidden;
  position: relative;
  h1, h2, h3, h4 {
    color: #fff;
  }
  .customNavigation {
    .btn {
      position: absolute;
      top: 50%;
      background-color: $blue_color;
      color: #fff;
      font-size: 35px;
      display: inline-block;
      margin-top: -35px;
      height: 70px;
      width: 70px;
      line-height: 57px;
      text-align: center;
      border-radius: 100px;
      z-index: 5;
	  overflow:hidden;
    }
    .prev {
      left: -35px;
      text-indent: 14px;
    }
    .next {
      right: -30px;
      text-indent: -14px;
    }
  }
  .carousel-indicators {
    bottom: -50px;
  }
}

@media (max-width: 1200px) {
  #ciekawostki .row {
    .ciekawostki-item {
      height: 400px;
      img {
        min-height: 450px;
      }
    }
    .ciekawostki-caption {
      bottom: -330px;
      h2 {
        font-size: 20px;
      }
    }
    .ciekawostki-item:hover .ciekawostki-caption {
      background: rgba(0, 0, 0, 0.85);
    }
  }
}

@media (max-width: 970px) {
  #ciekawostki .row {
    .ciekawostki-item {
      height: 350px;
      img {
        min-height: 350px;
      }
    }
    .ciekawostki-caption {
      bottom: -280px;
    }
  }
}


/*-----------------------------------------------------------------------------
----------------------------- KARIERA ---------------------------------------*/

#kariera {
	padding: 100px 0 75px;
	.row {
		margin-bottom: 40px;
	}
    
    h4  {
	    .fa {
		    margin-right:10px;
	    }
    }
    .photo-wrapper {
        margin-top: -15px;
    }
}
.gift-wrapper {
    position:relative;
    height: 320px;
    .gift-image {
        position: absolute;
        top: 35%;
        left: 40%;
        font-size: 100px;
    }
}
@media (max-width: 770px) {

	#news, #ihs, #narzedzia, #kontakt, #produkty {
	  padding: 40px 0 30px;
	}
    .gift-wrapper {
        height: 200px;
        .gift-image {
            position: absolute;
            top: 35%;
            left: 40%;
            font-size: 100px;
        }
    }

}

/*-----------------------------------------------------------------------------
------------------------------ KONTAKT ---------------------------------------*/



.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .form-control::-moz-placeholder {
    color: #999;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #999; }
  .form-control::-webkit-input-placeholder {
    color: #999; }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eeeeee;
    opacity: 1; }

textarea.form-control {
  height: auto; }


/*INPUTS*/
.formlarge {
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 0px; }
  
  .formstyle {
    border: 1px solid #ccc;
    border-radius: 0px;
}
.mt17 {
    margin-top: 17px;
}

.btnwhitebig:hover {
    background: #fff;
    border: 1px solid #adadad;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btnwhitebig {
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.18);
    border-radius: 0px;
    padding: 10px 25px;
    font-size: 16px;
}
.caps {
    text-transform: uppercase;
}

.ml10 {
    margin-left: 10px;
}
.mt30 {
    margin-top: 30px;
}

/*-----------------------------------------------------------------------------
--------------------------------- MAPA ---------------------------------------*/


#mapa {
  position: relative;
  overflow: hidden;
  .container-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($blue-color, .3);
    z-index: 1;
  }

  .contact-form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-top: 120px;
    h3 {
      margin-top: 0;
    }
  }
}


/*-----------------------------------------------------------------------------
----------------------------- KARUZELA ---------------------------------------*/


#owl-demo .item{
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
