
/*______________________________________________________________*/
/****************** MIXINS */

$greenIHSmarkit_color: #00b140;
$orange_color: #f7941d;
$green_color: #96bc33;
$red_color: #f04e23;
$dark_color: #20222e;
$text-color: #444;

%todo-gradiant {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 50%, #ffffff 50%, #000000 50%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(50%,#ffffff), color-stop(50%,#ffffff), color-stop(50%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 50%,#ffffff 50%,#000000 50%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ffffff 0%,#ffffff 50%,#ffffff 50%,#000000 50%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ffffff 0%,#ffffff 50%,#ffffff 50%,#000000 50%,#000000 100%); /* IE10+ */
background: linear-gradient(to right,  #ffffff 0%,#ffffff 50%,#ffffff 50%,#000000 50%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}


/*______________________________________________________________*/
/****************** GLOBAL */


/*______________________________________________________________*/
/****************** SECTIONS */


.blue-section {
	background: $greenIHSmarkit_color;
    color: #fff;
      h1, h2, h3, h4 {
    color: #fff;
  }
}

.white-section {
    padding: 50px 0;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    border-bottom: 1px solid #ebebeb;
	.btn-lg {
		    margin-top: 20px;
	}
}

.dark-section {
    background: $dark_color;
    color: #fff;
        .section-header .section-title,
        h1, h2, h3, h4 {
        color: #fff;
        }
}

#news, #ihs, #narzedzia, #kontakt, #produkty {
  padding: 100px 0 75px;
}

#software, #features {
  padding: 0px 0 30px;
}

/*______________________________________________________________*/
/****************** SLIDER */

#slider {
    width: 100%;
    background: url(../images/slider/kontemplacja.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    height: 500px;
    position:relative;

	.slider-text {
		position: absolute;
		top: 35%;
		font-size: 73px;
		font-weight: 200;
		color: white;
	}

    p {
        position: absolute;
        top: 55%;
        font-size: 18px;
        font-weight: 200;
        color: white;
        padding: 15px 0;
	}

    .jumbotron {
        margin: 0;
        padding: 0;
    }
}


/*______________________________________________________________*/
/****************** TABS */

.custom-tabs {
    .tab-content {
    border: none;
    }

    .nav-tabs {
      > li {
        > a {
          margin-top: 0;
          border: none;
          position: relative;
          font-weight: 600;
          color: #444;
          font-size: 24px;
          padding: 15px 25px;
          &:hover {
            border: none;
            background:none;
            color: #272727;
          }
        }
        &.active {
          > a {
            margin-top: 0;
            border: none;
            position: relative;
            font-weight: 600;
            color: #444;
            font-size: 24px;
            &:hover, &:focus {
              border: none;
              background:none;
              color: #272727;
            }
          }
          border-bottom: 3px solid $greenIHSmarkit_color;
        }
      }
    }
}

/*______________________________________________________________*/
/****************** PROCES*/

#proces {
  padding: 100px 0 50px;
  background: #20222e url(../images/work-process/bg.jpg) no-repeat 0 0;
  background-size: cover;
  color: #fff;
  h2 {
    color: #fff;
  }

  h3 {
    color: #fff;
    margin-bottom: 10px;
  }

  .icon-circle {
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border: 2px solid $greenIHSmarkit_color;
    border-radius: 100px;
    position: relative;

    >span {
      border-style: solid;
      border-width: 2px;
      border-color: $greenIHSmarkit_color;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      width: 24px;
      height: 24px;
      line-height: 20px;
      top: -12px;
    }
  }
    .well-wrapper { margin-top: 30px; }
    .well {
        background-color: transparent;
        border: none;
        min-height: 20px;
        padding: 10px 20px;

        h3 { color: #00a9cb; }
    }
}


/*______________________________________________________________*/
/****************** LUDZIE */

#ludzie {
  padding: 100px 0 20px;
  .team-member {
    padding: 15px;

    .team-img {
      margin: -15px -15px 0 -15px;
    }

    .team-info {
      padding-bottom: 10px;
      border-bottom: 1px solid #dbdbdb;
      margin-bottom: 10px;
	  
	  span {
        font-style: italic;
        margin-top: -5px;
        color: #999;
        display: block;
		}
    }

    &:hover {
      border-color: $greenIHSmarkit_color;
      .social-icons>li>a {
        background: $greenIHSmarkit_color;
      }
    }
  }

  .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
	display:none;
    >li {
      display: inline-block;
      >a {
        display: block;
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        color: #fff;
        background: #222534;
        border-radius: 3px;
      }
    }
  }
}

/*______________________________________________________________*/
/****************** KARIERA */

#kariera {
	padding: 100px 0 75px;
	.row {
		margin-bottom: 40px;
	}

    h4  {
	    .fa {
		    margin-right:10px;
	    }
    }
    .photo-wrapper {
        margin-top: -15px;
    }
}
.gift-wrapper {
    position:relative;
    height: 320px;
    .gift-image {
        position: absolute;
        top: 35%;
        left: 40%;
        font-size: 100px;
    }
}
@media (max-width: 770px) {
    .gift-wrapper {
        height: 200px;
        .gift-image {
            position: absolute;
            top: 35%;
            left: 40%;
            font-size: 100px;
        }
    }

}

/*______________________________________________________________*/
/****************** OWL CAROUSEL */

.customNavigation {
  text-align: center;
  .btn {
    position: absolute;
    top: 50%;
    background-color: $greenIHSmarkit_color;
    color: #fff;
    font-size: 35px;
    display: inline-block;
    margin-top: -35px;
    height: 70px;
    width: 70px;
    line-height: 57px;
    text-align: center;
    border-radius: 100px;
    z-index: 5;
    overflow:hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .prev {
    left: -35px;
    text-indent: 14px;
  }
  .next {
    right: -30px;
    text-indent: -14px;
  }
}

/*______________________________________________________________*/
/****************** AKTUALNOSCI */
#aktualnosci {
  padding: 100px 0 30px;
  overflow:hidden;
  position: relative;
  .carousel-indicators {
    bottom: -50px;
  }
  .item{
    padding: 30px 0px;
    margin: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: left;
  }  
}
/*______________________________________________________________*/
/****************** CIEKAWOSTKI */

#ciekawostki {
  padding: 100px 0 30px;
  overflow:hidden;
  position: relative;
  .carousel-indicators {
    bottom: -50px;
  }
  .item{
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: left;
  }  
}


@media (max-width: 1200px) {
  #ciekawostki .row {
    .item {
      height: 400px;
      img {
        min-height: 450px;
      }
    }
  }
}

@media (max-width: 970px) {
  #ciekawostki .row {
    .item {
      height: 350px;
      img {
        min-height: 350px;
      }
    }
  }
}


/*______________________________________________________________*/
/****************** NARZEDZIA */


#narzedzia {
    background: url(../images/tools/tools.jpg) no-repeat right 100px;
}
@media (max-width: 1000px) {

    #narzedzia {
        background: none;
    }
}


/*______________________________________________________________*/
/****************** KONTAKT */

#kontakt {
    padding: 100px 0 50px;
    background: $greenIHSmarkit_color;
    color: #fff;
      h1,h2 {
        color: #fff;
      }
}

/*______________________________________________________________*/
/****************** MAPA */

#mapa {
  position: relative;
  overflow: hidden;
  .contact-form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-top: 120px;
    font-size: 16px;
    position: absolute;
    top: -80px;
    left:0;
    z-index: 1;
    p {
        margin: 20px;
    }
  }
  strong {
    color: #272727;
  }
}


/*______________________________________________________________*/
/****************** FOOTER */

#footer {
  background: $dark_color;
}


/*______________________________________________________________*/
/****************** RESPONSIVE */

@media (max-width: 770px) {
	#news, #ihs, #narzedzia, #kontakt, #produkty {
	  padding: 40px 0 30px;
	}
}