.dev-sharp-logo{
	margin-left:auto;
	margin-right:auto;
	width:60%;
}

.navbar-brand>img.vcenter{
	display: inline-block;
    vertical-align: middle;
	margin-bottom: 6px;
}

.agenda-table{
	margin-left: auto;
	margin-right: auto;
}